* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*기본 스타일 초기하 한다는 그런, 없어도 딱히 문제는 없음*/

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#header .logo {
    color: rgb(228, 101, 101);
    font-weight: 700;
    font-size: 55px;
    text-decoration: none;
}
/*codepse 로고 부분*/
section img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
/*이걸 넣어야 이미지가 풀로 참*/

