<!DOCTYPE html>
<html>
	<head>
		<title>Codepse</title>
		<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
	</head>
	<body>
		<header id="header">
			<a href="#" class="logo">CODE PSE</a>
			<ul>
				<li><a href="test" class="active">CODING TEST</a></li>
				<li><a href="review" class="active">CODE REVIEW</a></li>
				<li><a href="question" class="active">QUESTION</a></li>
				<li><a href="login" class="active">LOGIN</a></li>
				<!-- <li><a href="#">Contact</a></li> -->
				<!-- 여기서 아예 페이지로 넘어가는거 해놨음. 나중에 변경-->
			</ul>
			<!-- ul은 버튼은 아니고 그냥 목록?요소? 같은거라고 생각 -->
		</header>
		
		<Section>
			
		  <img src="https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg" title="background"> 
	  
		<div class="sec">
				<div class="wrap">
					<div><span data-tooltip="pse와 함께하면 너도 코딩 왕">PSE</span></div>
				</div>
	</body>
</html>