<!DOCTYPE html>
<html>
  <head>
    <title>review</title>
    <link href="{{ url_for('static', filename='css/review.css') }}" rel="stylesheet">
  </head>
  <body>
    <header id="header">
        <a href="#" class="logo">CODE REVIEW</a>
    </header>
    
    <Section>
         <!-- 저 섹션을 넣어줘야 CSS 섹션이랑 연동해서 배경 화면 크기 맞음-->
        
      <img src="https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg" title="background"> 
  
</body>
  </html>