<!DOCTYPE html>
<head>
  <meta charset="uft-8">
  <meta name="viewpoint" content="width=device-width, initial-scale=1">
  <title>Coding Test</title>

  <!--- cutom css line -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">

  <!--- box icons link -->
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

  <!--- google fonts link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

</head>
<body>

  <!--- header section -->
  <header>
      <a href="/" class="logo">CODE PSE</a>
      <div class="bx bx menu" id="menu-icon"></div>

      <ul class="navlist">
          <li><a href="/">HOME</a></li>
          <li><a href="/test_list">CODING TEST</a></li>
          <li><a href="/typinggame">TYPING GAME</a></li>
          <li><a href="/draggame">DRAG GAME</a></li>
          <li><a href="/outputgame">OUTPUT GAME</a></li>

      </ul>
  </header>
    <title>문제 목록</title>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/test_list.css') }}" rel="stylesheet">
  </head>
  <body>
    <section class="notice">
      <div class="page-title">
        <div class="container">
          <h3>코딩테스트 문제</h3>
        </div>
      </div>

      <!-- board list area -->
      <div id="board-list">
        <div class="container">
          <table class="board-table">
            <thead>
              <tr>
                <th scope="col" class="th-num">번호</th>
                <th scope="col" class="th-title">제목</th>
              </tr>
            </thead>
            <tbody>
              {% for i in q_list %}
              <tr>
                <td>{{ i[0] }}</td> <!-- 문제 번호 -->
                <th>
                  <a href="{{ url_for('test_view', q_id=i[0]) }}">{{ i[1] }}</a> <!--i[1]: 문제 이름-->
                  <p>{{ i[1] }}</p>
                </th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </body>
</html>
